body {
  align-items: center;
  text-align: center;
  background-color: #fff1dc;
}

#level-title {
  font-family: "Roboto Slab", serif;
  font-size: 4rem;
  font-weight: 800;
  margin: 5%;
  color: #aa5656;
}

.container {
  display: grid;
  grid-template-rows: 180px 180px;
  grid-template-columns: 180px 180px;
  grid-gap: 40px;
  width: 400px;
  margin: auto;
}

.btn {
  display: inline-block;
  height: 180px;
  width: 180px;
  border-radius: 10%;
}

.game-over {
  opacity: 0.7;
}

.red {
  background-color: #f04211;
  box-shadow: 0 0 0 1px #f04211 inset, 0 0 0 2px rgb(255 255 255 / 5%) inset,
    4px 8px 0 0 #a83717, 0 8px 0 -4px rgb(0 0 0 / 40%),
    0 8px 8px 1px rgb(0 0 0 / 50%);
  transition: 0.15s;
}

.green {
  background-color: #0d940d;
  box-shadow: 0 0 0 1px #2b760d inset, 0 0 0 2px rgb(255 255 255 / 5%) inset,
    4px 8px 0 0 #1d7805, 0 8px 0 -4px rgb(0 0 0 / 40%),
    0 8px 8px 1px rgb(0 0 0 / 50%);
  transition: 0.15s;
}

.blue {
  background-color: #066edc;
  box-shadow: 0 0 0 1px #0568ae inset, 0 0 0 2px rgb(255 255 255 / 5%) inset,
    4px 8px 0 0 #024c93, 0 8px 0 -4px rgb(0 0 0 / 40%),
    0 8px 8px 1px rgb(0 0 0 / 50%);
  transition: 0.15s;
}

.yellow {
  background-color: #ffb900;
  box-shadow: 0 0 0 0px #ffb900 inset, 0 0 0 2px rgb(255 255 255 / 5%) inset,
    4px 8px 0 0 #c28e07, 0 8px 0 -4px rgb(0 0 0 / 40%),
    0 8px 8px 1px rgb(0 0 0 / 50%);
  transition: 0.15s;
}

.pressedgreen {
  margin-top: 8px;
  margin-left: 4px;
  background-color: #0fc40f;
  box-shadow: none;
}

.pressedred {
  margin-top: 8px;
  margin-left: 4px;
  background-color: #f26131fc;
  box-shadow:none;
  
}
.pressedblue {
  margin-top: 8px;
  margin-left: 4px;
  background-color: #05a3ff;
  box-shadow: none;
}
.pressedyellow {
  margin-top: 8px;
  margin-left: 4px;
  background-color: #f7db22;
  box-shadow: none;
}


